{% load static %}

<nav
  class="navbar is-sticky-top navigation container"
  role="navigation"
  aria-label="main navigation"
>
  <div id="navbar-links" class="navbar-menu">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" data-target="navbar-links">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="{% url 'split-logs:index' %}" class="navbar-item">
          Dashboard
        </a>
      </div>
    </div>
  </div>
</nav>
