export SMS_APP_ENV=staging
export INSTANCES="university,id"
export SWARMS="1,2,3"
export BACKUP_SERVER=cede-backup.epfl.ch

export TRACKING_LOGS_ORIGINAL_SRC="ubuntu@192.168.222.121:/home/ubuntu/analytics/logs/tracking/"
export TRACKING_LOGS_ORIGINAL_DST="/data/tracking/original"
export TRACKING_LOGS_ORIGINAL_DOCKER_SRC="backup@128.178.50.17:/backup/staging/tracking-docker/"
export TRACKING_LOGS_ORIGINAL_DOCKER_DST="/data/tracking/original-docker"
export TRACKING_LOGS_SPLITTED="/data/tracking/splitted"
export TRACKING_LOGS_SPLITTED_DOCKER="/data/tracking/splitted-docker"
export TRACKING_LOGS_ENCRYPTED="/data/tracking/encrypted"
export TRACKING_LOGS_ENCRYPTED_DOCKER="/data/tracking/encrypted-docker"

export AWS_ACCESS_KEY_ID=xxx
export AWS_SECRET_ACCESS_KEY=xxx
export AWS_DEFAULT_REGION=ZH
export AWS_QUERYSTRING_AUTH=false
export AWS_S3_CUSTOM_DOMAIN=staging-usercontent.os.zhdk.cloud.switch.ch
export AWS_STORAGE_BUCKET_NAME=staging-tracking-logs
export AWS_S3_ENDPOINT_URL=https://os.zhdk.cloud.switch.ch

export EDXAPP_MYSQL_HOST=192.168.223.110

export EDXAPP_MYSQL_USER=read_only
export EDXAPP_MYSQL_PASSWORD=hIwnFiScd5BgaPCy

export UNIVERISTY_EDXAPP_MYSQL_USER=docker_university_edxapp
export UNIVERISTY_EDXAPP_MYSQL_PASSWORD=xxx
export ID_EDXAPP_MYSQL_USER=docker_id_edxapp
export ID_EDXAPP_MYSQL_PASSWORD=xxx

export DUMP_DB_RAW=/data/dump_db/raw
export DUMP_DB_ENCRYPTED=/data/dump_db/encrypted

export STATS_FILE_PATH=/Users/odemakov/src/epflstack/src/swissmooc-extras/data/stats
